<!DOCTYPE html>
<html style="height:100%">
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Homework</title>
	<script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/jquery.cookie.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular/angular.min.js"></script>
	<script src="js/angular/ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script src="js/bootstrap-dropdown.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

	<script src="controllers/util.js"></script>
	<style type="text/css">
		#chatArea>p{
			word-wrap: break-word;


		}
		::-webkit-scrollbar{
			width: 15px;
		}
		::-webkit-scrollbar-track{
			background-color:#4e5d6c;
		}
		::-webkit-scrollbar-thumb{
			background-color: #2b3e50;
		}
		::-webkit-scrollbar-button{
			background-color:#4e5d6c;
		}
		::-webkit-scrollbar-corner{
			background-color:#4e5d6c;
		}
		body{

		}
		.drag_image{
			max-width: 100%;
			max-height: 100%;
		}
		.clickable{
			cursor: pointer;
		}
		.chat_time{
			float: right;
		}
	</style>
	<script src='js/functions.js'></script>
</head>
<body ng-app="util" style="height:100%">
	<div class="page-header">
		<h1 id='title'>WELCOME USER! Please Login</h1>
	</div>
	<nav class='navbar navbar-default'>
		<ul class="nav ">
			
			<li><span class='glyphicon glyphicon-plus-sign navbar-text' style='font-size:x-large' id='addRoomButton' ng-show="state.permissions.create" data-toggle="modal" data-target="#addRoom"></span></li>
			<li class="navbar-right"><button class="btn btn-info navbar-nav navbar-btn" data-toggle="modal" data-target="#Change_Settings" >Change Settings</button></li>
			<li class="navbar-right"><button class="btn btn-info navbar-nav navbar-btn" id='clearChat' style="display:none">Clear Chat</button></li>
			<li class="navbar-right" style="z-index:2"><div class="btn-group icon-bar " >
				<button type="button" class="btn btn-info dropdown-toggle navbar-btn " data-toggle='dropdown'>Change Style<span class='caret'></span></button>
				<ul class="dropdown-menu" role='menu' id="styleSelect">
					<li><a href="#" rel='css/bootstrap.min.css'>Bootstrap</a></li>
					<li><a href="#" rel='css/superhero.css'>Superhero</a></li>
					<li><a href="#" rel='css/slate.css'>Slate</a></li>
					<li><a href="#" rel='css/darkly.css'>Darkly</a></li>
					<li><a href="#" rel='css/cyborg.css'>Cyborg</a></li>
					<li><a href="#" rel='css/readable.css'>Readable</a></li>
					<li><a href="#" rel='css/spacelab.css'>Spacelab</a></li>
				</ul>
			</li>
			<li><login class='icon-bar col-md-3 navbar-right' style=''></login></li>
			<li><span class='glyphicon glyphicon-circle-arrow-right navbar-text'  style='font-size:x-large;float:left;display:none' id='leaveRoom'></span></li>
		</ul>
		
	</div>
</nav>
<div id='rooms' style="width:100%;position:absolute">
	<room-button class='clickable' ng-repeat='room in rooms' ></room-button>
</div>
<div class="modal fade" id="addRoom">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Add Room</h4>
			</div>
			<div class="modal-body" addRoom>
				<div class="form-group">
					<label for="roomName">Room Name</label>
					<input ng-model='roomName' class="form-control" id='roomName'>
				</div>
				<div class="form-group">
					<label for="roomPassword">Room Password</label>
					<input ng-model='roomPassword' class="form-control" id='roomPassword' placeholder='Leave Blank for no Password'>
				</div>
				<button type="button" class="btn btn-success active" data-toggle='button' ng-click="toggleDelete()" id='isDeleteable'>Is Deleteable</button></br>
				<label style="font-size:large">Permissons</label >
					<div class="btn-group" style="float:right">
						<button type="button" class="btn btn-info dropdown-toggle" data-toggle='dropdown'>{{reqRank}}<span class='caret'></span></button>
						<ul class="dropdown-menu" role='menu' id="">
							<li><a href="#" ng-click="reqRank = 'Guest'">Guest</a></li>
							<li><a href="#" ng-click="reqRank = 'User'">User</a></li>
							<li><a href="#" ng-click="reqRank = 'Mod'">Mod</a></li>
							<li><a href="#" ng-click="reqRank = 'Admin'">Admin</a></li>
						</ul>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" ng-click='addRoom()' class="btn btn-primary"  data-dismiss="modal">Submit</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<div class="modal fade" id="Change_Settings" settings>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body" >
					<form>
						<div class="form-group">
							<label>Show Rank</label>
							<button class='btn btn-primary'ng-model='showRank' ng-click="toggleRank()">{{showRankState}}</button>
						</div>
						<div class="form-group">
							<label>Show Time</label>
							<button class='btn btn-primary'ng-model='showTime' ng-click="toggleTime()">{{showTimeState}}</button>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" ng-click='saveSettings()' class="btn btn-primary"  data-dismiss="modal">Save</button>
				</div>
			</div>
		</div>
	</div>

	<div room style="display:none;height:70%" id='room'  >
		
	


	<div class="col-md-1">
		<strong>Users</strong></br>
		<p ng-repeat='user in room.users'>{{user}}</p></br>
		<strong>Guests: </strong>{{room.guestCount}}
	</div>
	<div class="well col-md-10" style="height:100%">
		<div id='chatArea' style="overflow:auto;height:100%;width:100%">
			<p id='typing' style="position:absolute;bottom:0px">{{typing}}</p>
		</div>

	</div>
	<form>
		<div  ng-show="state.permissions.chat">
			<div class='col-md-11'>
				<input class="form-control " ng-model='message' style="float:left" id='chatbox'>

			</div>
			<button class="btn btn-primary col-md-1" ng-click='chat()' style="float:right">send</button>
		</div>
	</form>

</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('#styleSelect>li>a').click(function(event) {
			$('link').attr('href', $(this).attr('rel'));
			$.cookie('css',$(this).attr('rel'),{path:'/',expires:1000});
		});
		if($.cookie('css')){
			$('link').attr('href', $.cookie('css'));
		}
		$('#chatbox').keypress(function(event) {
			startTyping();
		});
		$(document).on('click','room-button',function(event) {


			var target = $(event.target); 
			if(!target.hasClass('btn')){
				var data = $(this).data('roomData');
				console.log(data);
				if(canEnterRoom(state,data)){
					if(!(data.requirements!=undefined && data.requirements.hasPassword)){
						socket.emit('join-room',{roomId:$(this).data('roomData').id});
						$('login,#addRoomButton').slideUp();

						$('#rooms').animate({left:"-100%"}, 500,function(){
							$('#title').text(data.name);
							$('#room,#clearChat').slideDown();
							angular.element('#room').scope().room =data;
							angular.element('#room').scope().$apply();
						});
						$('#leaveRoom').show();
					}else{angular.element(this).scope().showPasswordInput=true;
						angular.element(this).scope().$apply();}
					}
				}
			});
		$('#leaveRoom').click(function(event) {
			$('#leaveRoom').hide();
			if(state.username!=undefined)
				$('#title').text('Welcome '+state.username+"!");
			else
				$('#title').text('Welcome user! Please Login');
			socket.emit('leave room',{})
			$('login,#addRoomButton').slideDown();
			$('#room,#clearChat').slideUp('400',function(){
				$('#chatArea').children().not('#typing').remove();
			});
			$('#rooms').animate({left:"0%"}, 500,function(){});

		});
		$('#clearChat').click(function(event) {
			$('#chatArea').children().not('#typing').remove();
		});
		$('#room').on('drop', function(event) {
			event.preventDefault();
			var files = event.originalEvent.dataTransfer.files;
			var reader = new FileReader();
			reader.onloadend=function(){
				socket.emit('sendFile',reader.result);
				console.log(reader.result);
			}
			for (var i = 0; i < files.length; i++) 
			{
				reader.readAsDataURL(files[i]);
			}
			console.log(files[0]);
		});
		$(document).on('drop', function (e) 
		{
			e.stopPropagation();
			e.preventDefault();
		});
		$(document).on('dragenter', function (e) 
		{
			e.stopPropagation();
			e.preventDefault();
		});
		$(document).on('dragover', function (e) 
		{
			e.stopPropagation();
			e.preventDefault();
		});
	});

</script>
</body>
</html>