<!DOCTYPE html>
<html style="height:100%">

<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Homework</title>
	<script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/jquery.cookie.js"></script>
	<script src="js/jquery.storageapi.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular/angular.min.js"></script>
	<script src="js/angular/ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script src="js/bootstrap-dropdown.js"></script>
	<script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/questions.js"></script>
	<script src="js/misc.js"></script>
	<script src="js/emoticons.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

	<script src="controllers/util.js"></script>
	<style type="text/css">
		#chatArea>p {
			word-wrap: break-word;
		}
		::-webkit-scrollbar {
			width: 15px;
		}
		::-webkit-scrollbar-track {
			background-color: #4e5d6c;
		}
		::-webkit-scrollbar-thumb {
			background-color: #2b3e50;
		}
		::-webkit-scrollbar-button {
			background-color: #4e5d6c;
		}
		::-webkit-scrollbar-corner {
			background-color: #4e5d6c;
		}
		body {} img {
			max-width: 500px;
			max-height: 400px;
		}
		.clickable {
			cursor: pointer;
		}
		.chat_time {
			float: right;
		}
		.emote{
			max-height: 50px
		}
	</style>
	<script src='js/functions.js'></script>
</head>

<body ng-app="util" style="height:100%">
	<div class="page-header">
		<h1 id='title'>WELCOME USER! Please Log-in</h1>
	</div>
	<nav class='navbar navbar-default'>
		<ul class="nav navbar-nav " style="width:100%">
			<li class=""><a style='font-size:large;display:none' id='leaveRoom'><span class='glyphicon glyphicon-circle-arrow-right ' ></span>
			</a>
			</li>
			<li><a id='addRoomButton' ng-show="state.permissions.create" data-toggle="modal" data-target="#addRoom"><span class='glyphicon glyphicon-plus-sign ' style='font-size:large' ></span>
		</a>
			</li>
			<li ng-show="state.permissions.restart" id='restart'><a><span class='glyphicon glyphicon-refresh ' style='font-size:large'  ></span></a>
			</li>
			<li ng-show="state.permissions.archive"><a href="archive.html" target='_blank'>Archive</a>
			</li>
			<li class="" style=""><a href="#" class="" data-toggle="modal" data-target="#just_the_tip">ProTip!</a>
			</li>
			<li class="" style=""><a href="#" class="" data-toggle="modal" data-target="#Change_Settings">Change Settings</a>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle='dropdown'>Contact <span class='caret'></span></a>
				<ul class="dropdown-menu" role='menu'>
					<li class="" style=""><a href="#" class="" data-toggle="modal" data-target="#about">About</a>
					</li>
					<li class="" style=""><a href="#" class="" data-toggle="modal" data-target="#requestTicket">Request Feature</a>
					</li>
					<li class="" style=""><a href="#" class="" data-toggle="modal" data-target="#reportBug">Report Bug</a>
					</li>
				</ul>
			</li>
			<li class="dropdown " style="z-index:2">
				<a class="dropdown-toggle " data-toggle='dropdown'>Change Style <span class='caret'></span></a>
				<ul class="dropdown-menu" role='menu' id="styleSelect">
					<li><a href="#" rel='css/bootstrap.min.css'>Bootstrap</a>
					</li>
					<li><a href="#" rel='css/superhero.css'>Superhero</a>
					</li>
					<li><a href="#" rel='css/slate.css'>Slate</a>
					</li>
					<li><a href="#" rel='css/darkly.css'>Darkly</a>
					</li>
					<li><a href="#" rel='css/cyborg.css'>Cyborg</a>
					</li>
					<li><a href="#" rel='css/readable.css'>Readable</a>
					</li>
					<li><a href="#" rel='css/spacelab.css'>Spacelab</a>
					</li>
					<li><a href="#" rel='css/sandstone.css'>Sandstone</a>
					</li>
					<li><a href="#" rel='css/lumen.css'>Lumen</a>
					</li>
					<li><a href="#" rel='css/flatly.css'>Flatly</a>
					</li>
				</ul>
			</li>
			<li class=""><a href="#" class="" id='clearChat' style="display:none">Clear Chat</a>
			</li>
			<li ng-show="state.status==='Logged in'" class="navbar-right"><a onClick='$.cookie("hash","");location.reload();'>Logout</a>
			</li>
			<li ng-show="state.status==='Logged in'" class="navbar-right"><a class="" data-toggle="modal" data-target="#sendMessage"><span style='font-size:large' class='glyphicon glyphicon-envelope'></span></a>
			</li>
			<li ng-show="state.status==='Logged in'" class="navbar-right"><a class="" data-toggle="modal" data-target="#inbox" onclick='socket.emit("readMessages",{});'><span style='font-size:large' class='glyphicon glyphicon-inbox'></span><span class='badge'>{{state.unread}}</span></a>
			</li>
			<li ng-hide="state.status==='Logged in'" id="loginSection" class="navbar-right"><a class="" id="loginButton">Login</a>
				<login class='' style=''></login>
			</li>
			<li ng-hide="state.status==='Logged in'" id="registerButton" class="navbar-right"><a class="" onclick="window.location='/register.html'">Register</a>
			</li>

		</ul>

		
	</nav>
	<div id='rooms' style="width:100%;position:absolute">
		<room-button class='clickable' ng-repeat='room in rooms'></room-button>
	</div>
	<div class="modal fade" id="addRoom">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">Add Room</h4>
				</div>
				<div class="modal-body" addRoom>
					<div class="form-group">
						<label for="roomName">Room Name</label>
						<input ng-model='roomName' class="form-control" id='roomName'>
					</div>
					<div class="form-group">
						<label for="roomPassword">Room Password</label>
						<input ng-model='roomPassword' class="form-control" id='roomPassword' placeholder='Leave Blank for no Password'>
					</div>
					<label>*Green means the room is deletable. Red means that it is not.</label>
					</br>
					<button type="button" class="btn btn-success active" data-toggle='button' ng-click="toggleDelete()" id='isDeleteable'>Is Deleteable</button>
					</br>
					<label style="font-size:large">Permissons</label>
					<div class="btn-group" style="float:right">
						<button type="button" class="btn btn-info dropdown-toggle" data-toggle='dropdown'>{{reqRank}}<span class='caret'></span>
						</button>
						<ul class="dropdown-menu" role='menu' id="">
							<li><a href="#" ng-click="reqRank = 'Guest'">Guest</a>
							</li>
							<li><a href="#" ng-click="reqRank = 'User'">User</a>
							</li>
							<li><a href="#" ng-click="reqRank = 'Mod'">Mod</a>
							</li>
							<li><a href="#" ng-click="reqRank = 'Admin'">Admin</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" ng-click='addRoom()' class="btn btn-primary" data-dismiss="modal">Submit</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<div class="modal fade" id="reportBug">
		<div class="modal-dialog">
			<div class="modal-content" report>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">Report Bug</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="roomName">Name</label>
						<input ng-model='name' class="form-control">
					</div>
					<div class="form-group">
						<label for="roomPassword">Email</label>
						<input ng-model='email' class="form-control">
					</div>
					<div class="form-group">
						<label>Bug</label>
						<textarea class="form-control" ng-model='info'></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" ng-click='report("bug")' class="btn btn-primary" data-dismiss="modal">Submit</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<div class="modal fade" id="requestTicket">
		<div class="modal-dialog">
			<div class="modal-content" report>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">Request Ticket</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="roomName">Name</label>
						<input ng-model='name' class="form-control">
					</div>
					<div class="form-group">
						<label for="roomPassword">Email</label>
						<input ng-model='email' class="form-control">
					</div>
					<div class="form-group">
						<label>Request</label>
						<textarea class="form-control" ng-model='info'></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" ng-click='report("request")' class="btn btn-primary" data-dismiss="modal">Submit</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<div class="modal fade" id="about">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">About us</h4>
				</div>
				<div class="modal-body">
					<h5>Creator:</h5>
					<p>Alex Thomas(Sonicdeadlock)</p>
					<h5>Contact:</h5>
					<p><a href="mailto:alexthomas.gsmst@gmail.com">alex.thomas.gsmst@gmail.com</a>
					</p>
					<h5>Source Code:</h5>
					<p><a href="https://github.com/Sonicdeadlock/gsmst-chat">GitHub</a>
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<div class="modal fade" id="inbox" inbox>
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">Inbox</h4>

				</div>
				<div class="modal-body">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist" id="messageTabs">
                            <li role="presentation" class="active"><a aria-controls="received" data-target="#received" role="tab" data-toggle="tab">Received</a> </li>
                            <li role="presentation" ><a aria-controls="sent" role="tab" data-toggle="tab" data-target="#sent">Sent</a> </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="received"><div ng-repeat='message in state.privates.receive'>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{{message.username}}</h3>
								<small>{{message.time | date : 'medium'}} </small>
							</div>
							<div class="panel-body">
								{{message.message}}
							</div>
							<div class="panel-footer">
								<button class='btn btn-primary' ng-click='replyToPrivate(message.from_username)' data-dismiss="modal" data-toggle="modal" data-target="#sendMessage">Reply</button>
								<button class='btn btn-danger' ng-click='deletePrivate(message.id,true)'>Delete</button>
							</div>

						</div>

					</div></div>
                             <div role="tabpanel" class="tab-pane " id="sent"><div ng-repeat='message in state.privates.sent'>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{{message.username}}</h3>
								<small>{{message.time | date : 'medium'}} </small>
							</div>
							<div class="panel-body">
								{{message.message}}
							</div>
							<div class="panel-footer">
								<button class='btn btn-danger' ng-click='deletePrivate(message.id,false)'>Delete</button>
							</div>

						</div>

					</div></div>
                        </div>
                    </div>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<div class="modal fade" id="sendMessage">
		<div class="modal-dialog">
			<div class="modal-content" send>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">Send Message</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="">To(Username)</label>
						<input ng-model='to' class="form-control">
					</div>
					<div class="form-group">
						<label>Message</label>
						<textarea class="form-control" ng-model='privateMessage'></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" ng-click='sendPrivate()' class="btn btn-primary" data-dismiss="modal">Send</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<div class="modal fade" id="Change_Settings" settings>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">Settings</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label>Show Rank</label>
							<button class='btn btn-primary' ng-model='showRank' ng-click="toggleRank()">{{showRankState}}</button>
						</div>
						<div class="form-group">
							<label>Show Time</label>
							<button class='btn btn-primary' ng-model='showTime' ng-click="toggleTime()">{{showTimeState}}</button>
						</div>
						<div class='form-group'>
							<label>Show Desktop Notifications</label>
							<button class='btn btn-primary' ng-model='showNotification' ng-click='toggleNotifications()'>{{showNotificationsState}}</button>
						</div>
						<div class='form-group'>
							<label>Desktop Notification Duration(ms)</label>
							<input type='number' ng-model='notificationDuration' ng-change='updateDuration()'>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" ng-click='saveSettings()' class="btn btn-primary" data-dismiss="modal">Save</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="just_the_tip">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">Pro Tips</h4>
				</div>
				<div class="modal-body">
					<ul>
						<li>Enter a room by clicking on it</li>
						<li>Exit a room by clicking on the arrow at the top left</li>
						<li>If you put a link in chat it will automagically become a clickable link</li>
						<li>Change your theme with the Change Style button</li>
						<li>Change what is shown with the Change Settings button</li>
						<li>Clear the chat room by exiting and coming back or with the Clear Chat button</li>
						<li>Share an image with a chat by dragging and dropping it into chat</li>
						<li>A link of an image will be come an image in chat</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class='modal fade' id='ban'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">Ban User</h4>
				</div>
				<div class="modal-body">
					<div class='btn-group-vertical'>
						<button class="btn btn-danger ban-button" data-dismiss="modal" onclick="ban(5*60*1000)">Ban 5 minutes</button>
						<button class="btn btn-danger ban-button" data-dismiss="modal" onclick="ban(15*60*1000)">Ban 15 minutes</button>
						<button class="btn btn-danger ban-button" data-dismiss="modal" onclick="ban(30*60*1000)">Ban 30 minutes</button>
						<button class="btn btn-danger ban-button" data-dismiss="modal" onclick="ban(60*60*1000)">Ban 60 minutes</button>
						<button class="btn btn-danger ban-button" data-dismiss="modal" onclick="ban(6*60*60*1000)">Ban 6 hours</button>
						<button class="btn btn-danger ban-button" data-dismiss="modal" onclick="ban(7*24*60*60*1000)">Ban 1 week</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class='modal fade' id='admin'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">Admin Panel</h4>
				</div>
				<div class="modal-body">
					<form ng-show="state.permissions.points_master">
					    <div class='form-group'>
					        <label>Award Points</label>
					        <input type='number' id='give_points'>
					    </div>
					    <button type='submit' class='btn btn-primary' id='submit_points'>SUBMIT</button>
					</form>
					<h4>Change Rank</h4>
					<div class='btn-group-vertical'>
					    <button class='btn btn-default rank-button' data-dismiss='modal' data-group='1'>User</button>
					    <button class='btn btn-default rank-button' data-dismiss='modal' data-group='6'>Helper</button>
					    <button class='btn btn-default rank-button' data-dismiss='modal' data-group='2'>Moderator</button>
					    <button class='btn btn-default rank-button' data-dismiss='modal' data-group='4'>Admin</button>
					    <button class='btn btn-default rank-button' data-dismiss='modal' data-group='5'>Creator</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div room style="display:none;height:60%" id='room'>




		<div class="col-md-1">
			<strong>Users</strong>
			</br>
			<p ng-repeat='user in room.users'>{{user}}</p>
			</br>
			<strong>Guests: </strong>{{room.guestCount}}
		</div>
		<div class="well col-md-10" style="height:100%">
			<div id='chatArea' style="overflow:auto;height:100%;width:100%">
				<p id='typing' style="position:absolute;bottom:0px;">{{typing}}</p>
			</div>
            <br><br>
            <form >
			<div ng-show="state.permissions.chat">
				<div class='input-group'>
					<input class="form-control" ng-model='message'  id='chatBox' >
                    <div class="input-group-btn">

                        <button class="btn btn-primary " id="chatButton" >send</button>
                         <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" id="sentHistory">

                        </ul>
                    </div>
				</div>

			</div>
		</form>

		</div>


	</div>
	</div>
	<script type="text/javascript">
		// setInterval(function(){$('[rel="tooltip"]').tooltip();},100);

	</script>
	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
		ga('create', 'UA-53769917-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>

</html>